/* Nav Bar CSS */
#img1 {
    border-radius: 50% ;
}

/* Header CSS */


.row {
    margin-left: 0;
    margin-right: 0;
}


/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */


